Les examples suivants ont été tirés du minichat. D'abord les trucs courants :

********************
@ <span style="font-weight: bold">FeNr1s</span>, LU'

Devrait retourner :
FeNr1s: LU'

********************
<strong>Nouveau Sujet</strong>: <a href="http://forum.francefurs.org/viewtopic.php?p=176959#p176959" class="po
stlink">Un jeu plein de furries pour l'été :3</a>
Devrait retourner :
*Nouveau Sujet*: Un jeu plein de furries pour l'été :3 (http://forum.francefurs.org/viewtopic.php?p=176959#p176959) 

********************
<!-- m --><a class="postlink" href="http://www.youtube.com/watch?v=0YJR-doOWf8">http://www.youtube.com/watch?v=0YJR-doOWf8</a><!-- m -->

Devrait retourner :
http://www.youtube.com/watch?v=0YJR-doOWf8
(lien identique au texte affiché, on n'affiche ce truc une seule fois)

********************
<!-- m --><a class="postlink" href="http://www.divertissonsnous.com/2011/03/14/se-battre-contre-un-gros-a-lecole/">http://www.divertissonsnous.com/2011/03 ... -a-lecole/</a><!-- m -->

Devrait retourner :
http://www.divertissonsnous.com/2011/03/14/se-battre-contre-un-gros-a-lecole/
(il faut couper la chaine sur les " ... " et voir si le coté gauche correspond au début, et le coté droit à la fin pour voir si on peut virer ce qui est normalement affiché au profit du lien)

********************
<Leeden> <img src="http://t3.gstatic.com/images?q=tbn:ANd9GcRFSm3Ll9aQLTiG6xiJ1uRXr90ws-NtHWiWZO44sSOjihPfWCrM&t=1" alt="Image" />

Devrait retourner :
Image (http://t3.gstatic.com/images?q=tbn:ANd9GcRFSm3Ll9aQLTiG6xiJ1uRXr90ws-NtHWiWZO44sSOjihPfWCrM&t=1)

********************
Et maintenant le pire pour la fin :

<div><span onclick="show(getNextSibling(getNextSibling(this)));hide(this);" style="color:rgb(16, 112, 191);cursor: pointer;cursor: hand;text-decoration: none;" title="Afficher"><img src="/styles/FF/imageset/absolutchrys_youtube2.png" valign="middle" alt="Afficher" width="50"></span><span><a href="http://www.youtube.com/watch?v=TQMBzIJyYSQ">http://youtu.be/TQMBzIJyYSQ</a></span>  <span style="display: none"><object width="425" height="350"><param name="movie" value="http://www.youtube.com/v/TQMBzIJyYSQ"></param><param name="wmode" value="transparent"></param><embed src="http://www.youtube.com/v/TQMBzIJyYSQ" type="application/x-shockwave-flash" wmode="transparent" width="425" height="350"></embed></object></span>

Devrait retourner :
http://youtu.be/TQMBzIJyYSQ
(putain il le fait! je suis vraiment impressionné sur ce coup là !)